<!-- <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of posts">
        {{item.id}}
    </li>
</ul> -->


<div class="card">
    <form [formGroup]="form" (ngSubmit)="CreatePost()">
        <div class="card-header">
            Write !!!
        </div>
        <div class="card-body">
            <input type="text" placeholder="Say Something" class="card-text" formControlName="body">
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<div class="card" *ngFor="let item of posts">
    <div class="card-header" *ngIf="GetUserName(item?.userId)!=null">
        {{GetUserName(item?.userId)}}
    </div>
    <div class="card-body" *ngIf="GetUserName(item?.userId)!=null">
        <p class="card-text">{{item.body}}</p>
    </div>
    <div class="card-footer" *ngIf="item?.userId ==currentUserId">
        <button class="btn btn-sm btn-danger" type="submit" (click)="DeletePost(item?.id)">Delete</button>
    </div>
</div>